

.aricle__title {
    color: #555557;
}

.article {
    display: block;
    margin: auto;
    max-width: 900px;
    min-width: 610px;
    
}


.article__box {
    background-color: rgb(255, 255, 255, 0.5);
    border-style: solid;
    border-color: #e7e9ea;
    padding: 20px;
    box-shadow: 0px 0px 35px -27px #30557A;
    text-align: justify;

}

.article__element {
    display: block;
    margin: auto;
    max-width: 900px;
    border-radius: 50%;
}

.article__element:hover {
    transform: scale(104%);
    transition: 1s; 
}

.article__title {
    color: #555557;
}
