html {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #f7fafa;
    display: block;
    margin: auto;
    max-width: 900px;
    min-width: 610px;
}


.header__title {
    color: #555557;
}
.footer__header {
    background-color: rgb(213, 231, 248 0.5);
}

.footer__title {
    color: #555557;
}